---
import { getCollection } from "astro:content";
import BaseLayout from '../../layouts/BaseLayout.astro';
import TagComponent from "../../components/Tag.astro"
const allPosts = await await getCollection("posts");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const pageTitle = "Tag Index";
---
<BaseLayout pageTitle={pageTitle}>
  {tags.map((tag) => (
    <TagComponent name={tag} href={`/tags/${tag}`} focused={false}>
      <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
    </TagComponent>
  ))}
</BaseLayout>