---
// copy and edit https://github.com/withastro/astro/blob/f2f18b44055c6334a39d6379de88fe41e518aa1e/packages/astro/src/%40types/astro.ts#L1534
export interface Page {
  currentPage: number;
  size: number;
  lastPage: number;
  url: {
    current: string;
    prev: string | undefined;
    next: string | undefined;
  };
}

interface Props {
  page: Page;
  urlPrefix: string;
}

const { page, urlPrefix } = Astro.props;

const paginations = Array.from({ length: page.lastPage }, (_, i) => i + 1);
---

<nav>
    <div class="pagination-container">
        <ul class="pagination-list">
            <li>
                {
                    page.url.prev ? (
                        <a href={page.url.prev} class="pagination-link">
                            Previous
                        </a>
                    ) : (
                        <span class="pagination-link disabled">
                            Previous
                        </span>
                    )
                }
            </li>
            {
                paginations.map((i) =>
                    i === page.currentPage ? (
                        <li>
                            <a class="pagination-link active">{i}</a>
                        </li>
                    ) : (
                        <li>
                            <a href={`${urlPrefix}/${i}`} class="pagination-link">
                                {i}
                            </a>
                        </li>
                    ),
                )
            }
            <li>
                {
                    page.url.next ? (
                        <a href={page.url.next} class="pagination-link">
                            Next
                        </a>
                    ) : (
                        <span class="pagination-link disabled">
                            Next
                        </span>
                    )
                }
            </li>
        </ul>
    </div>
</nav>

<style>
    .pagination-container {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin: 2rem 0;
    }
    .pagination-list {
        display: inline-flex;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .pagination-link {
        padding: 0.5rem 1rem;
        text-decoration: none;
        color: #333;
        border-radius: 0.25rem;
        transition: background-color 0.3s;
    }
    .pagination-link:hover {
        background-color: #e2e2e2;
    }
    .pagination-link.active {
        background-color: #d44b3f;
        color: #fff;
    }
    .pagination-link.disabled {
        pointer-events: none;
        color: #999;
    }
</style>